<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="dist/video-js.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
</head>
<body>
<div align="center">
    <input type="file" class="testFile" name="file" onchange="uploadFile()" multiple  accept=".xlsx,.docx">

    <button onclick="onff()">确定</button>
</div>

</body>
<script>
    /**
     * 关闭浏览器发送请求
     */
    window.onunload = function(){
        $.get("hellos");
    }
    function uploadFile() {
        let file = $('.testFile')[0].files[0];
        let formData = new FormData();
        formData.append("file", file);
        formData.append("ids", "5,54");
        $.ajax({
            url:'/uploadFile',
            type:'post',
            data:formData,
            //这个参数是jquery特有的，不进行序列化，因为我们不是json格式的字符串，而是要传文件
            processData: false,
            //注意这里一定要设置contentType:false，不然会默认为传的是字符串，这样文件就传不过去了
            contentType: false,
            success:function (data) {
                console.log(data.code);
            }
        });
    }


    function onff() {
        $.ajax({
            url:'/test1',
            type:'post',
            data:{
                名字:"邢世伟"
            },
            success:function (data) {
                console.log(data);
            }
        });
    }
</script>
</html>
